---
http_interactions:
- request:
    method: post
    uri: http://www.missionhub.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=none&client_id=12&client_secret=83f84763001c1fb4ce96adc4908b9ba285b510d6
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - '200'
      Etag:
      - ! '"d0d53d93eea872825c2d3ddf4602b136"'
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"b08f825c2543643e561ba92b296028c4de2887a17179269c311ba680a96574d6","scope":"contacts,userinfo,contact_assignment,followup_comments,roles,organization_info"}'
  recorded_at: Wed, 03 Oct 2012 22:38:06 GMT
- request:
    method: post
    uri: http://www.missionhub.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=none&client_id=12&client_secret=
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - '400'
    body:
      encoding: US-ASCII
      string: ! '{"error":"invalid_client","error_description":"{\"error\": {\"message\":\"Client
        ID and client secret do not match.\", \"code\": \"52\"}}"}'
  recorded_at: Wed, 03 Oct 2012 22:38:07 GMT
- request:
    method: post
    uri: http://www.missionhub.com/api/v2/contacts.json
    body:
      encoding: US-ASCII
      string: person[firstName]=Test&person[lastName]=User&person[gender]=female&person[current_address_attributes][address1]=123%20Somewhere%20St&person[current_address_attributes][address2]=Dept%202500&person[current_address_attributes][city]=Orlando&person[current_address_attributes][country]=US&person[current_address_attributes][state]=FL&person[current_address_attributes][zip]=32832&person[email_address][email]=mail%40google.com&person[email_address][primary]=0&person[phone_number][number]=021021021&person[phone_number][primary]=0&person[phone_number][location]=mobile&answers[4952]=Hello%20World&answers[4953]=R2&answers[4955]=D2&answers[4954][2]=C3&answers[4954][3]=C4&org_id=5522&user_id=1615180&access_token=b08f825c2543643e561ba92b296028c4de2887a17179269c311ba680a96574d6
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"3dcdd09d5cbaecb64214082017b4217f"'
    body:
      encoding: US-ASCII
      string: ! '{"id":2592834,"name":"Test User","assignment":{"assigned_to_person":[],"person_assigned_to":[]},"gender":"female","request_org_id":5522,"organizational_roles":[]}'
  recorded_at: Wed, 03 Oct 2012 22:38:08 GMT
recorded_with: VCR 2.2.5
