---
http_interactions:
- request:
    method: post
    uri: http://www.missionhub.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=none&client_id=6&client_secret=
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - '400'
    body:
      encoding: US-ASCII
      string: ! '{"error":"invalid_client","error_description":"{\"error\": {\"message\":\"Client
        ID and client secret do not match.\", \"code\": \"52\"}}"}'
  recorded_at: Thu, 06 Sep 2012 09:26:39 GMT
recorded_with: VCR 2.2.4
