---
http_interactions:
- request:
    method: post
    uri: http://www.missionhub.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=none&client_id=6&client_secret=05fbcedcf2b2ea3958b359b51796b14b1c04c19a
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - '200'
      Etag:
      - ! '"5433947c658216a0f750764a263167da"'
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"11b341eeb9b9d6401944e8310ea82283e3927b1b3a8b77335d0992373b047deb","scope":"contacts,userinfo,contact_assignment,followup_comments,roles,organization_info"}'
  recorded_at: Tue, 02 Oct 2012 22:33:28 GMT
- request:
    method: post
    uri: http://www.missionhub.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=none&client_id=6&client_secret=
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - '400'
    body:
      encoding: US-ASCII
      string: ! '{"error":"invalid_client","error_description":"{\"error\": {\"message\":\"Client
        ID and client secret do not match.\", \"code\": \"52\"}}"}'
  recorded_at: Tue, 02 Oct 2012 22:33:29 GMT
- request:
    method: post
    uri: http://www.missionhub.com/api/v2/contacts.json
    body:
      encoding: US-ASCII
      string: person[firstName]=Test&person[lastName]=User&person[email_address]=mail%40google.com&person[gender]=female&person[current_address_attributes][address1]=123%20Somewhere%20St&person[current_address_attributes][address2]=Dept%202500&person[current_address_attributes][city]=Orlando&person[current_address_attributes][country]=US&person[current_address_attributes][state]=FL&person[current_address_attributes][zip]=32832&answers[4952]=Hello%20World&org_id=6774&user_id=1615180&access_token=11b341eeb9b9d6401944e8310ea82283e3927b1b3a8b77335d0992373b047deb
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"8f0ddbec1e2c4a3ee368d905e342a557"'
    body:
      encoding: US-ASCII
      string: ! '{"id":2592529,"name":"Test User","assignment":{"assigned_to_person":[],"person_assigned_to":[]},"gender":"female","status":"uncontacted","request_org_id":6774,"first_contact_date":"2012-10-02
        22:34:38 UTC","date_surveyed":"2012-10-02 22:34:38 UTC","organizational_roles":[]}'
  recorded_at: Tue, 02 Oct 2012 22:33:30 GMT
[...]
- request:
    method: post
    uri: http://www.missionhub.com/api/v2/contacts.json
    body:
      encoding: US-ASCII
      string: person[firstName]=Test&person[lastName]=User&person[email_address]=mail%40google.com&person[gender]=female&person[current_address_attributes][address1]=123%20Somewhere%20St&person[current_address_attributes][address2]=Dept%202500&person[current_address_attributes][city]=Orlando&person[current_address_attributes][country]=US&person[current_address_attributes][state]=FL&person[current_address_attributes][zip]=32832&answers[4952]=Hello%20World&answers[4953]=R2&answers[4955]=D2&answers[4954][2]=C3&answers[4954][3]=C4&org_id=5522&user_id=1615180&access_token=03a6f575b13657a0dad1b6ff07a099d9088fed26617758dd374b0c985a502a79
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"fa696d44203f05b4311fbf064e85e2d0"'
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"request_time":1349219525},"error":"undefined method `user''
        for nil:NilClass"}'
  recorded_at: Tue, 02 Oct 2012 23:11:39 GMT
recorded_with: VCR 2.2.5
