---
http_interactions:
- request:
    method: post
    uri: http://stage.missionhub.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=none&client_id=12&client_secret=
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - '400'
    body:
      encoding: US-ASCII
      string: ! '{"error":"invalid_client","error_description":"{\"error\": {\"message\":\"Client
        ID and client secret do not match.\", \"code\": \"52\"}}"}'
  recorded_at: Thu, 08 Nov 2012 13:47:09 GMT
- request:
    method: post
    uri: http://stage.missionhub.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: grant_type=none&client_id=12&client_secret=33f84763tasf9c1fb4ce96adc4908b9ba285b510d0
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - '200'
      Etag:
      - ! '"587793cf9f81936d3aa19ce565ea19cf"'
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"526bba947bfeb5a7d60206c75983dcf30aee5a68ef7bc7479c7a151cdce3c7e8","scope":"contacts,userinfo,contact_assignment,followup_comments,roles,organization_info"}'
  recorded_at: Thu, 08 Nov 2012 13:47:10 GMT
- request:
    method: post
    uri: http://stage.missionhub.com/api/v2/contacts.json
    body:
      encoding: US-ASCII
      string: person[first_name]=Test&person[last_name]=User&person[gender]=female&person[current_address_attributes][address1]=123%20Somewhere%20St&person[current_address_attributes][address2]=Dept%202500&person[current_address_attributes][city]=Orlando&person[current_address_attributes][country]=US&person[current_address_attributes][state]=FL&person[current_address_attributes][zip]=32832&person[email_address][email]=mail%40google.com&person[email_address][primary]=0&person[phone_number][number]=021021021&person[phone_number][primary]=0&person[phone_number][location]=mobile&answers[4952]=Hello%20World&answers[4953]=R2&answers[4955]=D2&answers[4954][0]=&answers[4954][1]=C3&answers[4954][2]=C4&org_id=5522&user_id=1615180&access_token=526bba947bfeb5a7d60206c75983dcf30aee5a68ef7bc7479c7a151cdce3c7e8
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"e081d0440636fc4cf4a95aa23fc06f6b"'
    body:
      encoding: US-ASCII
      string: ! '{"id":2592834,"name":"Test User","assignment":{"assigned_to_person":[],"person_assigned_to":[]},"gender":"Female","status":"uncontacted","request_org_id":5522,"organizational_roles":[]}'
  recorded_at: Thu, 08 Nov 2012 13:47:11 GMT
recorded_with: VCR 2.3.0
